Repository benjamineskola/booklogger: changes, and which pre-commit hooks are due for each by the changed paths.
All: curlylint, migrations, typescript, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 2284f1b82f3b384d13aa985c1b2f5302463d43db
    hooks:
      - id: shellcheck
      - id: shfmt
      - id: rome
      - id: prettier
  - repo: local
    hooks:
      - id: curlylint
        name: curlylint
        language: system
        entry: "curlylint --quiet --rule 'indent: 2'"
        files: '^library/jinja2/'
        types: [html]
      - id: migrations
        name: migrations
        language: system
        entry: python ./manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: typescript
        name: typescript
        language: system
        entry: tsc --strict --checkJs --noEmit --lib dom,es2019
        types: [ts]
      - id: taplo
        name: taplo
        entry: taplo fmt
        language: system
        types: [toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.259'
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.1.1
    hooks:
      - id: mypy
        files: '^[^/]+/'
        exclude: '^library/(migrations|tests)'
        additional_dependencies:
          [
            django,
            django-stubs,
            dj_database_url,
            'psycopg[binary]',
            django-extensions,
            django-crispy-forms,
            crispy-bootstrap5,
            text-unidecode,
            requests,
            xmltodict,
            bs4,
            types-requests,
          ]
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 2284f1b82f3b384d13aa985c1b2f5302463d43db
    hooks:
      - id: pytest
        types: [python]
        pass_filenames: false

exclude: '^library/(migrations|fixtures)'

Use djlint
  .pre-commit-config.yaml
  library/jinja2/author_detail.html
  library/jinja2/author_form.html
  library/jinja2/author_list.html
  library/jinja2/authors/list_item.html
  library/jinja2/base.html
  library/jinja2/book_bulk_form.html
  library/jinja2/book_detail.html
  library/jinja2/book_form.html
  library/jinja2/book_list.html
  library/jinja2/books/update_form_snippet.html
  library/jinja2/bulk_import.html
  library/jinja2/confirm_delete.html
  library/jinja2/import.html
  library/jinja2/logentry_list.html
  library/jinja2/macros.html
  library/jinja2/macros/card.html
  library/jinja2/publisher_list.html
  library/jinja2/readinglist_detail.html
  library/jinja2/readinglist_form.html
  library/jinja2/readinglist_list.html
  library/jinja2/report.html
  library/jinja2/report_related_tags.html
  library/jinja2/report_tag_combinations.html
  library/jinja2/search.html
  library/jinja2/series_list.html
  library/jinja2/stats_for_year.html
  library/jinja2/stats_index.html
  library/jinja2/tag_list.html
  library/static/style.css
  library/tests/views/test_search.py
  pyproject.toml
  requirements-dev.txt
Due: curlylint, migrations, taplo

fix mypy error
  booklogger/settings.py
Due: migrations

Fix adding to queue
  library/views/importer.py
Due: migrations

Fix a/an display
  library/jinja2/book_detail.html
Due: curlylint

Remove most postgres in favour of sqlite
  booklogger/settings.py
  docker-compose.yml
  library/migrations/0022_auto_20200205_1156.py
  library/migrations/0023_book_tags_20200207_1725.py
  library/migrations/0024_auto_20200208_1145.py
  library/migrations/0069_remove_book_library_boo_tags_a978d9_gin_and_more.py
  library/migrations/0070_tag_books.py
  library/models/author.py
  library/models/book.py
  library/tests/conftest.py
  library/tests/models/test_book.py
  library/tests/views/test_importer.py
  library/tests/views/test_search.py
  requirements.txt
Due: migrations

'Refactored by Sourcery'
  booklogger/settings.py
  library/models/author.py
  library/models/book.py
Due: migrations

Disable deploy to Fly
  .github/workflows/main.yml
Due: none

Remove most postgres in favour of sqlite
  booklogger/settings.py
  docker-compose.yml
  docker-entrypoint-initdb.d/create-db-user.sh
  library/migrations/0018_pgext_20200202_0845.py
  library/migrations/0022_auto_20200205_1156.py
  library/migrations/0023_book_tags_20200207_1725.py
  library/migrations/0024_auto_20200208_1145.py
  library/migrations/0069_remove_book_library_boo_tags_a978d9_gin_and_more.py
  library/migrations/0070_tag_books.py
  library/models/author.py
  library/models/book.py
  library/tests/conftest.py
  library/tests/models/test_book.py
  library/tests/views/test_importer.py
  library/tests/views/test_search.py
  requirements.txt
Due: migrations

Put sqlite db in a subdirectory
  booklogger/settings.py
Due: migrations

Script for running gunicorn in production
  bin/serve
Due: none

Implement a very simplistic (but good enough) search algorithm
  library/models/__init__.py
  library/models/author.py
  library/models/book.py
  library/views/search.py
Due: migrations

Remove unsupported calls to distinct() with a parameter
  library/forms.py
Due: migrations

Use proper test setup for database
  booklogger/settings.py
  db/.keep
  library/tests/conftest.py
Due: migrations

Restore search test
  library/tests/views/test_search.py
Due: migrations

Rename editions to alternate_editions
  library/admin.py
  library/forms.py
  library/jinja2/book_detail.html
  library/jinja2/book_form.html
  library/migrations/0073_rename_editions_book_alternate_editions.py
  library/models/book.py
  library/models/book_with_editions.py
  library/tests/models/test_book_with_editions.py
Due: curlylint, migrations

Fix overlooked reference
  library/jinja2/book_detail.html
Due: curlylint

Lint
  library/jinja2/book_detail.html
Due: curlylint

Fix some spacing issues
  library/jinja2/book_detail.html
  library/jinja2/macros/card.html
Due: curlylint

Avoid inline styles
  library/jinja2/book_detail.html
Due: curlylint

Fix broken (inefficient) 'related tags' listing
  library/models/book.py
Due: migrations

Allow filtering author pages
  library/views/author.py
Due: migrations

Add filter toggles to author view
  library/jinja2/author_detail.html
Due: curlylint

Fix pattern matching
  library/models/book.py
  library/views/book.py
Due: migrations

Fix more spacing issues
  library/jinja2/author_detail.html
  library/jinja2/authors/list_item.html
  library/jinja2/macros.html
Due: curlylint

Fix tags javascript
  library/jinja2/macros/card.html
  library/static/tag_book.ts
Due: curlylint, typescript

Lint
  library/static/tag_book.ts
Due: typescript

Remove 'untagged' tag when adding a tag
  library/static/tag_book.ts
Due: typescript

Fix hiding the tag field
  library/static/tag_book.ts
Due: typescript

Fix tag filtering on log entries
  library/models/log_entry.py
Due: migrations

Fix infinite loading
  library/jinja2/logentry_list.html
  library/static/infinite_scroll.ts
  library/views/log_entry.py
Due: curlylint, migrations, typescript

Typescript -> javascript again
  .gitignore
  library/static/book_form.js
  library/static/infinite_scroll.js
  library/static/progress_bar.js
  library/static/progress_bar.ts
  library/static/rate_book.js
  library/static/stats_loader.js
  library/static/tag_book.js
Due: typescript

Allow searching by tag
  library/models/book.py
Due: migrations

Exclude very large tags from showing on related view
  library/jinja2/book_list.html
Due: curlylint

Get rid of inline styles
  library/jinja2/books/update_form_snippet.html
  library/jinja2/macros.html
  library/jinja2/macros/card.html
  library/static/style.css
Due: curlylint

Fix linter spacing bug
  library/jinja2/authors/list_item.html
  library/jinja2/book_detail.html
  library/jinja2/macros/card.html
  library/jinja2/readinglist_detail.html
  library/jinja2/readinglist_list.html
Due: curlylint

Load stats synchronously
  library/jinja2/stats_for_year.html
  library/jinja2/stats_index.html
  library/static/stats_loader.ts
  library/urls.py
  library/views/stats.py
Due: curlylint, migrations, typescript
