Repository benjamineskola/booklogger: changes, and which pre-commit hooks are due for each by the changed paths.
All: curlylint, migrations, typescript

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 8898e97256c2e5248fe3feff59c5d30c816b3f6b
    hooks:
      - id: shellcheck
      - id: shfmt
      - id: rome
  - repo: local
    hooks:
      - id: curlylint
        name: curlylint
        language: system
        entry: "curlylint --quiet --rule 'indent: 2'"
        files: '^library/jinja2/'
        types: [html]
      - id: migrations
        name: migrations
        language: system
        entry: python ./manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: typescript
        name: typescript
        language: system
        entry: tsc --strict --checkJs --noEmit --lib dom,es2019
        types: [ts]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.223'
    hooks:
      - id: ruff
        args: ['--force-exclude']
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.950
    hooks:
      - id: mypy
        files: '^[^/]+/'
        exclude: '^library/(migrations|tests)'
        additional_dependencies:
          [
            django,
            django-stubs,
            dj_database_url,
            psycopg2,
            django-extensions,
            django-crispy-forms,
            text-unidecode,
            requests,
            xmltodict,
            bs4,
            types-requests
          ]
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 8898e97256c2e5248fe3feff59c5d30c816b3f6b
    hooks:
      - id: pytest
        types: [python]
        pass_filenames: false

exclude: '^library/(migrations|fixtures)'

Fix more linter issues
  booklogger/jinja2.py
  library/forms.py
  library/management/commands/process_queue.py
  library/models/__init__.py
  library/models/abc.py
  library/models/author.py
  library/models/book.py
  library/models/reading_list.py
  library/signals.py
  library/tests/models/test_bookauthor.py
  library/utils/create.py
  library/utils/goodreads.py
  library/utils/google.py
  library/utils/verso.py
  library/views/book.py
  pyproject.toml
Due: migrations

Remove unused dev dependencies
  requirements-dev.txt
Due: none

Add exporter for authors
  library/models/author.py
  library/urls.py
  library/views/author.py
Due: migrations

Add exporter for books
  library/models/book.py
  library/models/log_entry.py
  library/urls.py
  library/views/book.py
  pyproject.toml
Due: migrations

Try to avoid reference loops of multiple editions
  library/models/book.py
Due: migrations

Exclude authors with no books
  library/models/author.py
  library/views/author.py
Due: migrations

Export tags recursively
  library/models/book.py
Due: migrations

Update precommit hooks
  .pre-commit-config.yaml
  booklogger/settings.py
  library/forms.py
  library/models/book.py
  library/models/log_entry.py
  library/signals.py
  library/static/style.css
  library/tests/utils/test_goodreads.py
  library/tests/utils/test_verso.py
  library/tests/views/test_importer.py
  library/views/author.py
  library/views/book.py
  library/views/importer.py
  library/views/reading_list.py
  pyproject.toml
Due: migrations

Export google books id
  library/models/book.py
Due: migrations

lint
  library/models/book.py
  library/views/stats.py
Due: migrations

Update precommit hooks
  .pre-commit-config.yaml
  booklogger/jinja2.py
  library/tests/models/test_bookauthor.py
  library/tests/test_utils.py
  library/tests/utils/test_create.py
  library/utils/__init__.py
  library/views/author.py
  library/views/report.py
Due: migrations

Bump to Django 4.2rc
  requirements.txt
Due: none

Fix 'available' books
  library/models/book.py
  library/views/book.py
Due: migrations

Upgrade pyscopg 2->3
  .pre-commit-config.yaml
  requirements.txt
Due: none

Python 3.11
  .pre-commit-config.yaml
  Dockerfile
  runtime.txt
Due: none

'Refactored by Sourcery'
  booklogger/jinja2.py
  booklogger/settings.py
  library/forms.py
  library/management/commands/process_queue.py
  library/migrations/0019_auto_20200203_2157.py
  library/models/abc.py
  library/models/author.py
  library/models/book.py
  library/tests/conftest.py
  library/tests/utils/test_goodreads.py
  library/utils/__init__.py
  library/utils/verso.py
  library/views/__init__.py
  library/views/book.py
  library/views/importer.py
  library/views/log_entry.py
  library/views/search.py
  library/views/stats.py
Due: migrations

Lint/refactor
  booklogger/jinja2.py
  library/forms.py
  library/models/__init__.py
  library/models/author.py
  library/models/book.py
  library/utils/__init__.py
  library/utils/verso.py
  library/views/book.py
  library/views/log_entry.py
  pyproject.toml
Due: migrations

Avoid print()
  booklogger/settings.py
  library/management/commands/process_queue.py
  library/management/commands/verify_goodreads_identifier.py
  library/models/book.py
  library/tests/views/test_series_view.py
  library/views/importer.py
  pyproject.toml
Due: migrations

Remove heroku support
  booklogger/settings.py
  requirements.txt
Due: migrations

Lint exceptions
  library/forms.py
  library/models/book.py
  library/utils/__init__.py
  pyproject.toml
Due: migrations

Simplify some horrible functions
  library/models/book.py
  library/views/book.py
  pyproject.toml
Due: migrations

'Refactored by Sourcery'
  booklogger/settings.py
  library/forms.py
  library/management/commands/process_queue.py
  library/migrations/0019_auto_20200203_2157.py
  library/models/abc.py
  library/models/author.py
  library/models/book.py
  library/tests/conftest.py
  library/tests/utils/test_goodreads.py
  library/utils/__init__.py
  library/utils/verso.py
  library/views/__init__.py
  library/views/book.py
  library/views/importer.py
  library/views/log_entry.py
  library/views/search.py
  library/views/stats.py
Due: migrations

Lint/refactor
  library/forms.py
  library/utils/verso.py
  library/views/importer.py
Due: migrations

Better implementation of api keys
  library/admin.py
  library/migrations/0072_apikey.py
  library/models/__init__.py
  library/models/api_key.py
  library/utils/__init__.py
Due: migrations

Using new psycopg means I don't need to compile it
  Dockerfile
Due: none

Use multistage build for Go
  Dockerfile
Due: none

Remove node_modules after building
  Dockerfile
Due: none

Use multistage build for Python
  Dockerfile
Due: none

Tidy up npm stuff after build
  Dockerfile
Due: none

Fix missing deps in docker-compose
  docker-compose.yml
Due: none

Add .dockerignore
  .dockerignore
Due: none

Use multistage build for typescript/staticfiles
  Dockerfile
Due: none

Run tsc directly instead of through make
  Dockerfile
  Makefile
Due: none

Use Inter font
  library/jinja2/base.html
  library/static/style.css
Due: curlylint

Upgrade to Fly v2
  fly.toml
Due: none

Enable automatic scale to zero
  fly.toml
Due: none

Lint
  fly.toml
Due: none

Revert "Enable automatic scale to zero"
  fly.toml
Due: none
