Repository benjamineskola/booklogger: changes, and which pre-commit hooks are due for each by the changed paths.
All: curlylint, migrations, typescript, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 2284f1b82f3b384d13aa985c1b2f5302463d43db
    hooks:
      - id: shellcheck
      - id: shfmt
      - id: rome
      - id: prettier
  - repo: local
    hooks:
      - id: curlylint
        name: curlylint
        language: system
        entry: "curlylint --quiet --rule 'indent: 2'"
        files: '^library/jinja2/'
        types: [html]
      - id: migrations
        name: migrations
        language: system
        entry: python ./manage.py makemigrations --check --dry-run
        types: [python]
        pass_filenames: false
      - id: typescript
        name: typescript
        language: system
        entry: tsc --strict --checkJs --noEmit --lib dom,es2019
        types: [ts]
      - id: taplo
        name: taplo
        entry: taplo fmt
        language: system
        types: [toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.259'
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.1.1
    hooks:
      - id: mypy
        files: '^[^/]+/'
        exclude: '^library/(migrations|tests)'
        additional_dependencies:
          [
            django,
            django-stubs,
            dj_database_url,
            'psycopg[binary]',
            django-extensions,
            django-crispy-forms,
            crispy-bootstrap5,
            text-unidecode,
            requests,
            xmltodict,
            bs4,
            types-requests,
          ]
  - repo: https://github.com/benjamineskola/pre-commit-hooks.git
    rev: 2284f1b82f3b384d13aa985c1b2f5302463d43db
    hooks:
      - id: pytest
        types: [python]
        pass_filenames: false

exclude: '^library/(migrations|fixtures)'

Remove unused bear link
  library/jinja2/macros/card.html
  library/models/book.py
Due: curlylint, migrations

Remove unused methods
  library/models/author.py
  library/models/book.py
Due: migrations

Remove questionable/unneeded [] lookup for Tag
  library/models/book.py
  library/tests/models/test_book.py
  library/tests/models/test_tag.py
  library/tests/views/test_book_view.py
  library/tests/views/test_report_view.py
  library/tests/views/test_stats.py
  library/tests/views/test_tags_view.py
  library/views/book.py
  library/views/report.py
  library/views/tags.py
Due: migrations

Lint
  .pre-commit-config.yaml
  library/models/book.py
  library/models/log_entry.py
  library/tests/test_utils.py
  library/utils/__init__.py
  library/views/book.py
  library/views/importer.py
  library/views/stats.py
  pyproject.toml
Due: migrations, taplo

Reorder Book methods more rationally
  library/models/book.py
Due: migrations

Factor out some of the complexity of display_details
  library/models/book.py
  library/utils/__init__.py
Due: migrations

Use cached_property for a few properties where that might be useful
  library/models/book.py
Due: migrations

Remove unused methods
  library/models/book.py
Due: migrations

Remove unneeded import
  library/models/book.py
Due: migrations

Search results should be distinct
  library/models/book.py
Due: migrations

Mark as finished using AJAX
  library/jinja2/books/update_form_snippet.html
  library/jinja2/macros/card.html
  library/static/progress_bar.ts
Due: curlylint, typescript

Update deploy script
  Procfile
  bin/serve
Due: none

Add stimulus and esbuild to handle it
  .gitignore
  bin/serve
  library/javascript/application.js
  library/jinja2/base.html
  package-lock.json
  package.json
Due: curlylint

Dev server setup to autorebuild js bundle
  Procfile
  bin/dev
  package.json
Due: none

Only minify in prod
  bin/serve
  package.json
Due: none

Convert rating functions to Stimulus
  library/javascript/application.js
  library/javascript/controllers/book_controller.js
  library/jinja2/base.html
  library/jinja2/macros/card.html
  library/static/rate_book.ts
Due: curlylint, typescript

Convert rating functions to Stimulus
  library/javascript/application.js
  library/javascript/controllers/book_controller.js
  library/jinja2/base.html
  library/jinja2/macros/card.html
  library/static/infinite_scroll.ts
  library/static/rate_book.ts
Due: curlylint, typescript

Remove unused packages and config
  .dockerignore
  .flake8
  .github/workflows/main.yml
  .pylintrc
  .python-version
  Dockerfile
  docker-compose.yml
  fly.toml
  package.json
  runtime.txt
  yarn.lock
Due: taplo

Convert from npm to yarn
  .github/workflows/main.yml
  package-lock.json
  yarn.lock
Due: none

Install dependencies before running
  bin/serve
Due: none

Convert updateProgress function to Stimulus
  library/javascript/controllers/book_controller.js
  library/jinja2/books/update_form_snippet.html
  library/static/progress_bar.ts
Due: curlylint, typescript

Convert markFinished function to Stimulus
  library/javascript/controllers/book_controller.js
  library/jinja2/base.html
  library/jinja2/books/update_form_snippet.html
  library/static/infinite_scroll.ts
  library/static/progress_bar.ts
Due: curlylint, typescript

Use a numeric progress entry on mobile
  library/jinja2/books/update_form_snippet.html
Due: curlylint

Delete childless tags when removed from their last book
  library/views/book.py
Due: migrations

Convert add/remove tag functions to stimulus
  library/javascript/controllers/book_controller.js
  library/jinja2/base.html
  library/jinja2/macros.html
  library/jinja2/macros/card.html
  library/static/infinite_scroll.ts
  library/static/tag_book.ts
Due: curlylint, typescript

Avoid creating tags with spaces at the start and end
  library/models/book.py
Due: migrations

Autoexclude from stats if part of an anthology that is not excluded
  library/models/book.py
Due: migrations

Convert infinite-loading to Stimulus
  library/javascript/application.js
  library/javascript/controllers/infinite_scroll_controller.js
  library/jinja2/logentry_list.html
  library/static/infinite_scroll.ts
Due: curlylint, typescript

Convert updateScrollPosition to stimulus
  library/javascript/controllers/infinite_scroll_controller.js
  library/jinja2/logentry_list.html
  library/static/infinite_scroll.ts
Due: curlylint, typescript

Fix non-card forms on bookdetail page
  library/javascript/controllers/book_controller.js
  library/jinja2/book_detail.html
  library/jinja2/macros/card.html
Due: curlylint

Tidy up update-form css
  library/jinja2/books/update_form_snippet.html
  library/static/style.css
Due: curlylint

Get rid of some useless utility classes
  library/jinja2/author_detail.html
  library/jinja2/author_form.html
  library/jinja2/base.html
  library/jinja2/book_bulk_form.html
  library/jinja2/book_detail.html
  library/jinja2/book_form.html
  library/jinja2/book_list.html
  library/jinja2/bulk_import.html
  library/jinja2/confirm_delete.html
  library/jinja2/import.html
  library/jinja2/logentry_list.html
  library/jinja2/macros/card.html
  library/jinja2/readinglist_form.html
  library/jinja2/search.html
  library/jinja2/stats_index.html
  library/static/style.css
Due: curlylint

Hide empty cards (specifically readinglist card when no entries)
  library/static/style.css
Due: none

Use numeric input for more edit fields
  library/forms.py
Due: migrations

Convert book form handlers to Stimulus
  library/javascript/book_form.js
  library/javascript/controllers/book_form_controller.js
  library/jinja2/book_form.html
  library/static/book_form.ts
  library/static/style.css
Due: curlylint, typescript

Remove typescript configuration
  Procfile
  bin/serve
  package.json
  tsconfig.json
  yarn.lock
Due: none

Fix right-hand dropdown position (bootstrap 5 upgrade)
  library/jinja2/base.html
Due: curlylint

Fix form positioning again
  library/static/style.css
Due: none

More idiomatic Stimulus for removing inline forms
  library/javascript/controllers/book_form_controller.js
Due: none

Remove more spurious utility classes
  library/javascript/controllers/book_form_controller.js
  library/static/style.css
Due: none
