Repository benjamineskola/booklogger: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, curlylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/benjamineskola/dotfiles.git
    rev: 2d5c4923a0fb61359171f7e6b90e5d9a1ce6d194
    hooks:
      - id: shellcheck
      - id: shfmt
      - id: flake518
        exclude: "^library/migrations"
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false
        always_run: true
      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false
      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        types: [python]
        files: "^[^/]+/"
        exclude: "^library/(migrations|tests|management)"
      - id: curlylint
        name: curlylint
        language: system
        entry: "poetry run curlylint --rule 'indent: 2'"
        types: [html]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "^library/migrations"

Bump hook versions
  .pre-commit-config.yaml
Due: none

Use shared flake518 hook
  .pre-commit-config.yaml
Due: none

Fix precommit
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: none

Better hook definitions
  .pre-commit-config.yaml
  library/models/reading_list.py
  library/utils/create.py
Due: mypy, pylint

Sort
  .pre-commit-config.yaml
Due: none

Check TOML
  .pre-commit-config.yaml
Due: none

Fix linter errors
  .pre-commit-config.yaml
  library/management/commands/import_from_verso.py
  library/management/commands/process_queue.py
  library/management/commands/verify_goodreads_identifier.py
Due: mypy

Remove deprecated setting
  booklogger/settings.py
Due: mypy, pylint

Switch to text-unicode to avoid having to maintain my own stripunicode library
  .pre-commit-config.yaml
  library/models/abc.py
  poetry.lock
  pyproject.toml
Due: mypy, pylint

Add migration for the recent addition of Yiddish
  library/migrations/0066_alter_author_primary_language_and_more.py
Due: mypy

Add missing migration for changed field defaults
  library/migrations/0067_alter_book_edition_number_and_more.py
Due: mypy

Bump python version
  runtime.txt
Due: none

Apply pyupgrade -> 3.9+
  booklogger/settings.py
  library/models/book.py
  library/signals.py
  library/utils/__init__.py
Due: mypy, pylint

Switch to Python 3.10
  poetry.lock
  pyproject.toml
  runtime.txt
Due: none

Switch to Python 3.10 optional type syntax
  library/forms.py
  library/models/book.py
  library/utils/__init__.py
  library/utils/goodreads.py
  library/utils/google.py
  library/views/importer.py
Due: mypy, pylint

Add pyupgrade precommit hook
  .pre-commit-config.yaml
Due: none

Switch to external hooks repo
  .pre-commit-config.yaml
Due: none

Output in MHRA format
  library/models/book.py
  library/tests/models/test_book.py
Due: mypy, pylint

Add publisher/publication date to text output
  library/models/book.py
Due: mypy, pylint

Change note title format to match MHRA
  library/models/book.py
Due: mypy, pylint

Bite the bullet and use flake8 4.x
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Remove unused codepath
  library/models/book.py
Due: mypy, pylint

Switch to plain virtualenvs
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Use underscore not asterisk for markdown italics
  library/models/book.py
  library/tests/models/test_book.py
  library/tests/models/test_bookauthor.py
Due: mypy, pylint

Use BeautifulSoup to parse instead of xmltodict
  library/utils/goodreads.py
  requirements.txt
Due: mypy, pylint

Use BeautifulSoup rather than regex parsing
  library/utils/goodreads.py
Due: mypy, pylint

Support deploy to Fly.io
  .github/workflows/main.yml
  Dockerfile
  booklogger/settings.py
  fly.toml
  library/jinja2/base.html
Due: mypy, pylint, curlylint

Use Hivemind to run multiple processes
  Dockerfile
  Procfile
Due: none

Only run pytest on commit if python files change
  .pre-commit-config.yaml
Due: none

Add primary URL to CSRF origins
  booklogger/settings.py
Due: mypy, pylint

Use Django model factories for tests
  library/factories.py
  library/tests/models/test_author.py
Due: mypy, pylint

Use factoryboy in a more standard way
  library/factories.py
  library/tests/conftest.py
  library/tests/models/test_author.py
  library/tests/models/test_book.py
  library/tests/models/test_bookauthor.py
  library/tests/models/test_logentry.py
  library/tests/models/test_timestamped_model.py
  library/tests/test_models.py
  library/tests/views/conftest.py
  library/tests/views/test_book_view.py
  library/tests/views/test_report_view.py
Due: mypy, pylint

Remove some boilerplate
  library/tests/views/conftest.py
  library/tests/views/test_book_view.py
  library/tests/views/test_report_view.py
Due: mypy

Ensure no migrations have been missed
  .pre-commit-config.yaml
Due: none

Reorder precommit hooks, pytest is slowest so comes last
  .pre-commit-config.yaml
Due: none

Don't run coverage checks in pytest in the precommit hook
  .pre-commit-config.yaml
Due: none
