Repository benjamineskola/booklogger: changes, and which pre-commit hooks are due for each by the changed paths.
All: curlylint, migrations, typescript, taplo

curlylint:
  name: curlylint
  language: system
  entry: 'curlylint --quiet --rule ''indent: 2'''

migrations:
  name: migrations
  language: system
  entry: python ./manage.py makemigrations --check --dry-run
  pass_filenames: false

typescript:
  name: typescript
  language: system
  entry: tsc --strict --checkJs --noEmit --lib dom,es2019

taplo:
  name: taplo
  entry: taplo fmt
  language: system

Fix raw html being inserted
  library/javascript/controllers/book_form_controller.js
Due: none

Use an input not a select for years/days
  library/forms.py
  library/javascript/controllers/book_form_controller.js
  library/static/style.css
Due: migrations

Fix locale for better date formats etc
  booklogger/settings.py
Due: migrations

Use my local time zone
  booklogger/settings.py
Due: migrations

Only hide blank cards in forms
  library/static/style.css
Due: none

Refactor and improve code to add new inline forms
  library/javascript/controllers/book_form_controller.js
  library/jinja2/book_form.html
  library/static/style.css
Due: curlylint

More improvements to inline-form CSS
  library/static/style.css
Due: none

Get rid of separate worker process
  Procfile
  bin/serve
  library/admin.py
  library/management/commands/process_queue.py
  library/migrations/0074_delete_queue.py
  library/models/__init__.py
  library/models/queue.py
  library/utils/importer.py
  library/views/importer.py
Due: migrations

Clarify importer format because I always forget
  library/jinja2/bulk_import.html
Due: curlylint

Use Hivemind only in dev
  Procfile
  bin/dev
  bin/serve
Due: none

Allow . in number format
  library/forms.py
Due: migrations

Put tag model in a separate file
  library/models/__init__.py
  library/models/book.py
  library/models/tag.py
Due: migrations

Remove bulk edit form
  library/jinja2/book_bulk_form.html
  library/urls.py
  library/views/book.py
Due: curlylint, migrations

Fix tags being blank in edit form
  library/javascript/controllers/book_form_controller.js
Due: none

Revert "Use my local time zone"
  booklogger/settings.py
Due: migrations

Re-enable select2 where needed
  library/javascript/controllers/book_form_controller.js
Due: none

Use CSS columns for better card layout
  library/jinja2/book_detail.html
  library/jinja2/book_form.html
  library/static/style.css
Due: curlylint

Enable Javascript updates in Dependabot
  .github/dependabot.yml
Due: none

Rome is now Biome
  .pre-commit-config.yaml
  package.json
Due: none

Generate stats reports only from those not excluded
  library/models/statistics_report.py
Due: migrations

Include unfinished in-progress books in read-pages count
  library/views/stats.py
Due: migrations

Fix gender labels/links in stats
  library/jinja2/stats_index.html
  library/views/stats.py
Due: curlylint, migrations

Use builtin append-slash middleware
  booklogger/settings.py
  library/urls.py
  library/views/__init__.py
Due: migrations

Fix mypy warning
  .pre-commit-config.yaml
  library/models/abc.py
Due: migrations

Use python-dotenv to load .env file
  .pre-commit-config.yaml
  bin/serve
  booklogger/settings.py
  requirements.txt
Due: migrations

Use median not average pagecount
  library/jinja2/stats_index.html
  library/models/statistics_report.py
  library/views/stats.py
Due: curlylint, migrations

Rename base template in preparation for migration
  library/jinja2/author_detail.html
  library/jinja2/author_form.html
  library/jinja2/author_list.html
  library/jinja2/book_detail.html
  library/jinja2/book_form.html
  library/jinja2/book_list.html
  library/jinja2/bulk_import.html
  library/jinja2/confirm_delete.html
  library/jinja2/import.html
  library/jinja2/logentry_list.html
  library/jinja2/old-base.html
  library/jinja2/publisher_list.html
  library/jinja2/readinglist_detail.html
  library/jinja2/readinglist_form.html
  library/jinja2/readinglist_list.html
  library/jinja2/report.html
  library/jinja2/report_related_tags.html
  library/jinja2/report_tag_combinations.html
  library/jinja2/search.html
  library/jinja2/series_list.html
  library/jinja2/stats_index.html
  library/jinja2/tag_list.html
Due: curlylint

Use new CI/CD setup
  .github/workflows/main.yml
  .pre-commit-config.yaml
  Justfile
  pyproject.toml
Due: taplo

Avoid this warning the correct way
  pyproject.toml
Due: taplo

Path conditions:
  curlylint: any of: ^library/jinja2/ and \.(html|htm|xhtml)$ and not (^library/(migrations|fixtures))
  migrations: any of: \.py$, but not: ^library/(migrations|fixtures)
  typescript: any of: \.(ts|mts|cts)$, but not: ^library/(migrations|fixtures)
  taplo: any of: \.toml$, but not: ^library/(migrations|fixtures)
